ObjectiveRequirements
  rotatingFieldType = Objective Requirements
  elapsedTimeSinceActivationHours = 13
  timeSinceLastEncodedLocationMinutes = 47
  altitudeEncodedLocationMetres = 60
  dilutionPrecisionHDOP = 3
  dilutionPrecisionDOP = 
  activationMethod = MANUAL_ACTIVATION_BY_USER
  remainingBatteryCapacityPercent = 
  GNSSStatus = LOCATION_3D